.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-logo {
    font-family: Pattaya !important;
    font-size: 5rem !important;
    padding: 20px 20px;
    text-align: left;
    color: #ebe264 !important;
}

.text-muted {
    font-size: 1rem;
}

#formBasicName, #formBasicEmail, #formBasicPassword, #formBasicCreatePassword, #formBasicVerifyPassword{
    width: 250px;
}

#register-to-login, #login-to-register{
    margin-top: 10px;
}

/* iPhone X and Xs Max */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    /* styles */
    #login-phrase{
        margin-left: 10px;
        text-align: center;
    }
}

/*  iPhone 6, 6S, 7 and 8  */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #login-phrase{
        margin-left: 10px;
        text-align: center;
    }
}