.resourcecontainer {
    margin: auto;
    padding: 75px;
    align-self: center;
    display: block;
}

.resource {
    display: flex;
    flex-direction: column;
    margin: auto;    
    padding: 20px;
}

.resourcecontainer h3 {
    text-align: center;
}
