* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mircophone-container-nav {
  display: flex;
  margin-left:10px;
}

.microphone-icon-container-nav {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(128deg, #ffffff, #647c88);
  margin-top: 5px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.microphone-icon-container-nav.listening::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffffff81;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(1.4);
  border-radius: 50%;
  animation: listening infinite 1.5s;
}
@keyframes listening{
  0%{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100%{
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
.microphone-icon-nav {
  width: 20px;
  height:  20px;
  margin-bottom: 10px;
}

.microphone-icon-nav:hover {
  width: 20px;
  height:  20px;
  margin-bottom: 10px;
}


.microphone-status-nav {
  font-size: 22px;
  margin-right: 20px;
  min-width: 215px;
}
.btn-nav {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
}

.microphone-reset-nav {
  border: 1px solid #fff;
  background: none;
  color: white;
  width: fit-content;
}

.microphone-stop-nav {
  width:30px;
  height:30px;
  margin:5px;
}

.speech-transcript {
  color:black
}


