
  
  .chatApp {
    min-height: 40vh;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  #dropdown-basic {
    color: black !important;
    background-color: white;
    text-align: left;
  }
 

.form-label {
  font-size: 18px;
}

  .room-dropdown {
    color: black !important;
  }

  .room-item {
    color: black !important;
  }

  .room-item:hover {
    background-color: purple !important;
    color: white !important;
  }
 
.join-btn {
  text-align: center;
}
  
.lobby-header {
  text-align: center;
  padding-right: 75px;
}

.lobbyCol {
  display: flex;
  flex-direction: column;
  margin: auto;
}

  /* .chatForm > div > input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid #333e5a;
  } */
  
  /* .chatButton {
    background: #333e5a;
    color: #fff;
    font-size: 16px;
    padding: 0.4em;
    border-radius: 6px;
    border: 1px solid transparent;
  } */

  /* button:hover {
    filter: brightness(150%);
  } */
  
  .chatRoom {
    position: relative;
  }

  #room {
    height: 40px;
    border-radius: 6px;
  }

  .room button {
    position: absolute;
    top: 0;
    right: 20px;
  }
   
  .local-participant {
    text-align: center;
    margin-bottom: 2em;
  }
  .remote-participants {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 2em 2em;
  }
  .participant {
    background: #333e5a;
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
  }
  .participant:last-child {
    margin-right: 0;
  }
  .participant h3 {
    text-align: center;
    padding-bottom: 0.5em;
    color: #fff;
  }
  
  video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
  }
  
  /* footer {
    background: #333e5a;
    color: #fff;
    text-align: center;
    flex-grow: 0;
    padding: 1em 0;
  }
  
  footer a {
    color: #fff;
  } */