.container-fluid {
    max-width: 920px !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.card {
    height: 300px;
    width: 300px;
    border: none;
    background-color: transparent !important;
    text-align: center;
    margin: 50px;

}

.card-title {
    color: white;
    font-size: 1.5rem;
}

.myBedContainer {
    padding-bottom: 45px;
    border-radius: 30px;
    background-color: rgba(77, 75, 75, 0.301);
    width:fit-content;
}


/* @media screen and (min-width: 992px) {
    .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    }
  } */

.cardImg {
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 30px !important;
    overflow: hidden;


}

/* 
  .cardPadding{
      padding-bottom: 100px;
  } */

.cardImg:hover {
    opacity: .33;
}

/* .cardImg:active{
      opacity: .33;
      border: 2px solid white;
  } */

  @media screen and (max-width: 375px){
      .card-group{
        width:300px;
      }

      .card {
          width:250px;
          margin:0px;
      }


  }