img {
    max-width: 100%;
    height: 300px;
}

.card {
    background-color: transparent !important;
    text-align: center;
    margin: 50px;
}

.card-title {
    color: white;
    font-size: 2rem;
    position: bottom;
}