.card {
    background-color: transparent !important;
    text-align: center;
    margin: 50px;
}

.card-title {
    color: white;
    font-size: 2rem;
    position: bottom;
}

/* @media screen and (min-width: 992px) {
    .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    }
  } */