.quoteDisplay {
    font-size: 1rem;
    display: flex;
    text-align: center;
}

.container-fluid {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.survey-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.surveyCol {
    margin: auto;
    padding: 20px;
    align-self: center;
    display: block;
}
