.container-fluid {
    max-width: 920px !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.survey-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.surveyCol {
    margin: auto;
    padding: 20px;
    align-self: center;
    display: block;
}

.survey-h4 {
    margin-left: 20%;
    margin-bottom: 2%;
    width: 60%;
    text-align: center;
}