.dreamform {
    margin-left:25%;
}


.journal-title {
    margin-bottom: 2%;
}

.journal-body{
    height:150px;
    width:50%
    
}

.journal-date {
    margin-left:24%
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .mircophone-container-journal {
    display: flex;
    margin-left: 25%
  }

  .dreamjournalh3{
      text-align: center;
      margin-bottom:30px;
  }

  .dream-submit{
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .speech-transcript {
    position:absolute;
    top:513px;
    left:338px;
    background:transparent;
    font-size:1em;
    line-height:1em;
    width:50%;
    height:150px;
    
    }


    /* Popup container */
.popup {
  margin-left: 25%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.hide {
  display:none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}