

.dream-h4 {
  margin-left:20%;
  margin-bottom: 2%;
  width: 60%;
  text-align: center;
}

.journal-form {
  align-items: center;
  display: flex;
  flex-direction: column;  
}

.mircophone-container-journal {
  display: flex;
  padding: 10px;
  margin: auto;
  align-items: center;
}

.dream-journal-header {
  text-align: center;
  margin-bottom: 30px;
}

.formSubmit {
  margin: 15px 0px 15px 0px;
  align-items: center;
  text-align: center;
}

.dream-list-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

.speech-transcript {
  position: absolute;
  top: 513px;
  left: 338px;
  background: transparent;
  font-size: 1em;
  line-height: 1em;
  width: 50%;
  height: 150px;
}

.dreamsCol{
  width:600px;
  margin-left:8%;
  bottom: 100px;
}

.list-title{
  text-align: center;
  cursor: pointer;
}



/* Popup container */
.popup {
  position: relative;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #EBE264;
  color: grey;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.hide {
  display: none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

#formBody{
  height:200px
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}