@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.footer {
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 100px;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
}
