@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.nav-link:hover {
    color: #27acf8 !important;
    text-decoration: none;
}

.nav-link {
    color: #ebe264 !important;
    font-family: KoHo;
    font-size: 1em;
    font-weight:300;
    text-align: center;
}

.navbar-brand {
    font-family: Pattaya !important;
    font-size: 3rem !important;
    padding: 7px 14px;
    text-align: center;
    color: #ebe264 !important;
}

.material-icons.yellow { color: #ebe264; }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype'),
      url(https://example.com/MaterialIcons-Regular.menu) format('menu');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .snuzeshade{
    /* font-size: 36px;
    font-family: 'Lato', sans-serif; */
    /* margin-top:10em;
    margin-left: auto;
    margin-right:auto;
    text-align: center; */

    
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

    display:block;
    position: relative;
    z-index: 3;  
}