@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

.navbar-brand {
    font-family: Pattaya;
    font-size: 5rem;
}

Nav.Link {
    font-family: KoHo;
}