.chatTitle {
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
    width: 350px;
    text-align: left;
}

.chatBody {
    margin-bottom: -5px;
    margin-top: -5px;
}

.chat-desc-div {
    /* margin-left: 700px;
   margin-top:-220px; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: move;
    overflow-x: hidden;
        /* width: 400px; */
}

.room-desc-title {
    padding: 10px;
    margin: -5px;
}