.chatTitle {
    background-color: transparent;
    border: transparent;
    color: black;
    cursor:pointer;
    margin-bottom: -15px;
    margin-top: -15px;
    width:300px;
    text-align: center;
}

.chat-desc-div {
   margin-left: 550px;
   margin-top:-220px;
   height: 270px;
   overflow: move;
   overflow-x: hidden;
   width: 325px;
   padding-left:5px;
}


.chat-h3 {
    margin-left: 120px;
}


.chat-title {
    /* border:solid thin black; */
    padding:5px 10px 0px 10px;    
}


.chat-title {
    /* border:solid thin black; */
    padding:5px 10px 0px 10px;    
}