.container-fluid {
    max-width: 920px !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.lobbyCol {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.lobby-header {
    text-align: center;
    margin: auto;
    padding-bottom: 25px;
  }