.container-fluid {
    max-width: 920px !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.chatTitle {
    background-color: transparent;
    border: transparent;
    color: white;
}

.community-h4 {
    margin-left: 20%;
    margin-bottom: 2%;
    width: 60%;
    text-align: center;
}

.communtiychatroomdiv{
    margin-left:25px;
    margin-top:20px;
}