.container-fluid {
    max-width: 920px !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.chat-title {
    background-color: transparent;
    border: transparent;
    color: white;
}