.insights-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
} 

.returnInsights {
    border: 1px solid #ebe264;
}

.search-section {
    display: flex;
    flex-direction: column;
    margin: auto; 
    align-items: center;
}

.charts-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.insights-chart {
    margin: 40px 0px 40px 0px !important;   
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

#chart3 {
    border-radius: 6px 0 0 6px;
}

#chart4 {
    border-radius: 0 6px 6px 0px;
}


  
  @media screen and (max-width: 375px)
   {
    .insights-chart{
        width:90%; 
    }

     /* #chart1{
       height:300px !important
    }

   
    #chart2{
        height:300px;

    } 
     */
  
  }