.insights {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.insights-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
} 

.returnInsights {
    border: 1px solid #ebe264;
}

.search-section {
    display: flex;
    flex-direction: column;
    margin: auto; 
    align-items: center;
}

.charts-top-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.818);
    padding: 50px;
    
}

.charts-bottom-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#chart2 {
    margin-top: 45px;
}

